@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;500;700&display=swap');

.app {
  width: 350px;
  margin: 1em auto;
  text-align: center;
  background-color: #f1c5b6;
  padding: 10px 0;
}
